body{
    background-color: #faf1e5;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-image: url(images/FineForrestFingers);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
button{
    background-color: #ffffff;
    font-size: 25px;
    font-family: 'Merriweather', serif;
    border-radius: 4px; 
    border-color: #435334;
    height: 50px;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color:#9EB384;
    transition: 0.7s;
}
