html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
div{
  position: fixed;
  left: 100px;
}
canvas {
  display: block;
}

body {
  margin: 0px;
  background:url("../images/swiperbackground.png") no-repeat center center fixed;
     -webkit-background-size:cover;
     -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 250px;
  left: 50px;
}
.btn{
  padding: 20px 32px;
  font-size: 28px;
  margin: 10px;
  background: none;
  color: #CEDEBD;
  border: 1px solid #000000;
  outline: none;
  cursor: pointer;
  align-items: center;
  position: relative;
  top: 450px;
  left: 290px;
}
.start, .btn:hover{
  background-color: #9EB384;
  color: #CEDEBD;
  box-shadow: 0 0 26px 1px green;
  border: 1px solid green;
}
h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
 .dashed-arrow {
            position: relative;
            left: 1px;
   bottom: -200px;
       
            width: 3;
            height: 250px; /* Adjust the height as needed */
            border-left: 10px dashed black; /* Adjust the border properties as needed */
            margin: 0 auto;
        }

        /* Create the arrowhead */
        .dashed-arrow::before {
            content: "";
            position: absolute;
           top: -90px;
    left: -35px;
            border-width: 60px 30px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
</style>
</head>
<body>

  <!-- HTML element for the dashed arrow -->
    <div class="dashed-arrow"></div>
